# 05_2_обновление сети данными от 2024 года

In [1]:
import numpy as np
import pandas as pd
import networkx as nx
from matplotlib.pyplot import figure

## 1. Читаем сеществующую таблицу

In [27]:
country_attr_table = pd.read_csv('country_attr_table_2023.csv')
pd.set_option('display.max_rows', 193)
country_attr_table.set_index('Country', inplace = True)
country_attr_table

,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile
Country,,,,,,,
AFGHANISTAN,AF,33.939110,67.709953,41.13,82.0,19793,11n111
ALBANIA,AL,41.153332,20.168331,2.84,71.0,14910,111111
ALGERIA,DZ,28.033886,1.659626,44.90,5954.0,147689,00-1000
ANDORRA,AD,42.546245,1.601554,0.08,1.0,2864,111111
ANGOLA,AO,-11.202692,17.873887,35.59,3639.0,62307,000100
ANTIGUA AND BARBUDA,AG,17.060816,-61.796428,0.09,0.0,1370,111101
ARGENTINA,AR,-38.416097,-63.616672,45.51,3292.0,383067,111111
ARMENIA,AM,40.069099,45.038189,2.78,38.0,12641,00n000
AUSTRALIA,AU,-25.274398,133.775136,26.18,18623.0,1423473,111111
AUSTRIA,AT,47.516231,14.550072,8.94,498.0,433258,111111
AZERBAIJAN,AZ,40.143105,47.576927,10.36,2475.0,42607,nnnnnn
BAHAMAS,BS,25.034280,-77.396280,0.41,0.0,9908,1111-11
BAHRAIN,BH,25.930414,50.637772,1.47,1045.0,33904,110101
BANGLADESH,BD,23.684994,90.356331,171.19,1561.0,329484,010100
BARBADOS,BB,13.193887,-59.543198,0.28,3.0,4440,110101
BELARUS,BY,53.709807,27.953389,9.54,177.0,60259,-1-1-1-1-1-1
BELGIUM,BE,50.503887,4.469936,11.66,656.0,521861,111111
BELIZE,BZ,17.189877,-88.497650,0.41,7.0,1586,110101
BENIN,BJ,9.307690,2.315834,13.35,121.0,15205,11n111
BHUTAN,BT,27.514162,90.433601,0.78,85.0,2483,110101
BOLIVIA (PLURINATIONAL STATE OF),BO,-16.290154,-63.588653,12.22,733.0,36573,00-1000
BOSNIA AND HERZEGOVINA,BA,43.915886,17.679076,3.23,226.0,19801,111111
BOTSWANA,BW,-22.328474,24.684866,2.63,56.0,15782,100101
BRAZIL,BR,-14.235004,-51.925280,215.31,12975.0,1444733,110101
BRUNEI DARUSSALAM,BN,4.535277,114.727669,0.45,637.0,12003,100101
BULGARIA,BG,42.733883,25.485830,6.78,492.0,69888,111111
BURKINA FASO,BF,12.238333,-1.561593,22.67,132.0,17369,nnnnnn
BURUNDI,BI,-3.373056,29.918886,12.89,56.0,3399,00-1000
CABO VERDE,CV,16.002082,-24.013197,0.59,2.0,1704,110111
CAMBODIA,KH,12.565679,104.990963,16.77,162.0,25291,110101
CAMEROON,CM,7.369722,12.354722,27.91,544.0,39881,nn0nnn
CANADA,CA,56.130366,-106.346771,38.45,22413.0,1644037,111111
CENTRAL AFRICAN REPUBLIC,CF,6.611111,20.939444,5.58,34.0,2323,00-10-10
CHAD,TD,15.454166,18.732207,17.72,358.0,11154,111111
CHILE,CL,-35.675147,-71.542969,19.60,572.0,252940,111111
CHINA,CN,35.861660,104.195397,1425.89,109745.0,14722801,00-10-10
COLOMBIA,CO,4.570868,-74.297333,51.87,5507.0,271347,111111
COMOROS,KM,-11.875001,43.872219,0.84,4.0,1235,1n1111
CONGO,CG,-0.228021,15.827659,5.97,834.0,10100,00-1000
COSTA RICA,CR,9.748917,-83.753428,5.18,106.0,61521,111111
CROATIA,HR,45.100000,15.200000,4.03,164.0,57204,111111
CUBA,CU,21.521757,-77.781167,11.21,184.0,107352,00-10-10
CYPRUS,CY,35.126413,33.429859,1.25,7.0,24612,111111
CZECHIA,CZ,49.817492,15.472962,10.49,1119.0,245349,111111
CÔTE D'IVOIRE,CI,7.539989,-5.547080,28.16,436.0,61143,111111
DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA,KP,40.339852,127.510093,26.07,606.0,15847,-1-1-1-1-1-1
DEMOCRATIC REPUBLIC OF THE CONGO,CD,-4.038333,21.758664,99.01,1285.0,45308,1111n1
DENMARK,DK,56.263920,9.501785,5.88,512.0,356085,111111
DJIBOUTI,DJ,11.825138,42.590275,1.12,4.0,3423,11nn11
DOMINICA,DM,15.414999,-61.370976,0.07,0.0,507,1n11nn
DOMINICAN REPUBLIC,DO,18.735693,-70.162651,11.23,29.0,78845,111111
ECUADOR,EC,-1.831239,-78.183406,18.00,1281.0,98808,111111
EGYPT,EG,26.820553,30.802498,110.99,3982.0,369309,110101
EL SALVADOR,SV,13.794185,-88.896530,6.34,82.0,24639,000n00
EQUATORIAL GUINEA,GQ,1.650801,10.267895,1.67,570.0,10022,00nn0n
ERITREA,ER,15.179384,39.782334,3.68,27.0,2084,-1-1-10-1-1
ESTONIA,EE,58.595272,25.013607,1.33,226.0,30650,111111
ESWATINI,SZ,-26.750000,31.500000,1.20,31.0,3835,n0000n
ETHIOPIA,ET,9.145000,40.489673,123.38,1420.0,96611,n0-10-10
FIJI,FJ,-16.578193,179.414413,0.93,7.0,4494,111111
FINLAND,FI,61.924110,25.748151,5.54,796.0,269751,111111
FRANCE,FR,46.227638,2.213749,64.63,5444.0,2630318,111111
GABON,GA,-0.803689,11.609444,2.39,535.0,15111,11-1100
GAMBIA,GM,13.443182,-15.310139,2.71,7.0,1830,110101
GEORGIA,GE,42.315407,43.356892,3.74,46.0,15892,111111
GERMANY,DE,51.165691,10.451526,83.37,4362.0,3846414,111111
GHANA,GH,7.946527,-1.023194,33.48,686.0,68532,110111
GREECE,GR,39.074208,21.824312,10.39,252.0,188835,111111
GRENADA,GD,12.262776,-61.604171,0.13,0.0,1043,11110n
GUATEMALA,GT,15.783471,-90.230759,17.84,350.0,77605,111111
GUINEA,GN,9.945587,-9.696645,13.86,118.0,15490,nnn000
GUINEA-BISSAU,GW,11.803749,-15.180413,2.11,26.0,1315,n0010n
GUYANA,GY,4.860416,-58.930180,0.81,4.0,5471,110101
HAITI,HT,18.971187,-72.285215,11.59,147.0,15505,111101
HONDURAS,HN,15.199999,-86.241905,10.43,98.0,23828,111001
HUNGARY,HU,47.162494,19.503304,9.97,458.0,155808,111111
ICELAND,IS,64.963051,-19.020835,0.37,335.0,21718,111111
INDIA,IN,20.593684,78.962880,1417.17,24030.0,2664749,000000
INDONESIA,ID,-0.789275,113.921327,275.50,21267.0,1058424,110101
IRAN (ISLAMIC REPUBLIC OF),IR,32.427908,53.688046,88.55,14786.0,939316,00-1n-10
IRAQ,IQ,33.223191,43.679291,44.50,10308.0,166757,010101
IRELAND,IE,53.412910,-8.243890,5.02,171.0,425889,111111
ISRAEL,IL,31.046051,34.851612,9.04,336.0,407101,111101
ITALY,IT,41.871940,12.567380,59.04,1437.0,1888709,111111
JAMAICA,JM,18.109581,-77.297508,2.83,8.0,13812,111101
JAPAN,JP,36.204824,138.252924,123.95,2079.0,5057759,111111
JORDAN,JO,30.585164,36.238414,11.29,17.0,43697,110101
KAZAKHSTAN,KZ,48.019573,66.923684,19.40,6984.0,171082,00-1000
KENYA,KE,-0.023559,37.906193,54.03,772.0,101014,110111
KIRIBATI,KI,-3.370417,-168.734039,0.13,1.0,181,111111
KUWAIT,KW,29.311660,47.481766,4.27,6766.0,105949,110111
KYRGYZSTAN,KG,41.204380,74.766098,6.63,100.0,7736,00-1000
LAO PEOPLE'S DEMOCRATIC REPUBLIC,LA,19.856270,102.495496,7.53,276.0,19082,00-1000
LATVIA,LV,56.879635,24.603189,1.85,118.0,33707,111111
LEBANON,LB,33.854721,35.862285,5.49,10.0,63546,11n10n
LESOTHO,LS,-29.609988,28.233608,2.31,16.0,2273,110001
LIBERIA,LR,6.428055,-9.429499,5.30,87.0,2481,111111
LIBYA,LY,26.335100,17.228331,6.81,3187.0,29153,111101
LIECHTENSTEIN,LI,47.166000,9.555373,0.04,1.0,6872,111111
LITHUANIA,LT,55.169438,23.881275,2.75,83.0,56547,111111
LUXEMBOURG,LU,49.815273,6.129583,0.65,10.0,73353,111111
MADAGASCAR,MG,-18.766947,46.869107,29.61,318.0,13008,000101
MALAWI,MW,-13.254308,34.301525,20.41,71.0,11762,111111
MALAYSIA,MY,4.210484,101.975766,33.94,4085.0,336664,110101
MALDIVES,MV,3.202778,73.220680,0.52,0.0,3743,110111
MALI,ML,17.570692,-3.996166,22.59,162.0,17332,00-10-1-1
MALTA,MT,35.937496,14.375416,0.53,1.0,14911,111111
MARSHALL ISLANDS,MH,7.131474,171.184478,0.04,0.0,244,111111
MAURITANIA,MR,21.007890,-10.940835,4.74,21.0,7916,11n101
MAURITIUS,MU,-20.348404,57.552152,1.30,10.0,10921,111101
MEXICO,MX,23.634501,-102.552784,127.50,6328.0,1073439,110111
MICRONESIA (FEDERATED STATES OF),FM,7.425554,150.550812,0.11,0.0,403,111111
MONACO,MC,43.750298,7.412841,0.04,NaN,6816,111111
MONGOLIA,MN,46.862496,103.846656,3.40,1409.0,13137,000000
MONTENEGRO,ME,42.708678,19.374390,0.63,32.0,4789,111111
MOROCCO,MA,31.791702,-7.092620,37.46,105.0,114724,nnn1n1
MOZAMBIQUE,MZ,-18.665695,35.529562,32.97,835.0,14029,000000
MYANMAR,MM,21.913965,95.956223,54.18,1214.0,70284,111111
NAMIBIA,NA_,-22.957640,18.490410,2.57,24.0,10710,000000
NAURU,NR,-0.522778,166.931503,0.01,0.0,135,111111
NEPAL,NP,28.394857,84.124008,30.55,457.0,33079,110101
NETHERLANDS,NL,52.132633,5.291266,17.56,1376.0,913865,111111
NEW ZEALAND,NZ,-40.900557,174.885971,5.19,744.0,212044,111111
NICARAGUA,NI,12.865416,-85.207229,6.95,96.0,12621,00-1-1-1-1
NIGER,NE,17.607789,8.081666,26.21,112.0,13741,110111
NIGERIA,NG,9.081999,8.675277,218.54,10795.0,429899,110101
NORTH MACEDONIA,MK,41.608635,21.745275,2.09,51.0,12264,111111
NORWAY,NO,60.472024,8.468946,5.43,8188.0,362522,111111
OMAN,OM,21.512583,55.923255,4.58,3448.0,63368,110101
PAKISTAN,PK,30.375321,69.345116,235.82,2366.0,257829,000000
PALAU,PW,7.514980,134.582520,0.02,0.0,264,111111
PANAMA,PA,8.537981,-80.782127,4.41,34.0,52938,111111
PAPUA NEW GUINEA,PG,-6.314993,143.955550,10.14,240.0,23619,111111
PARAGUAY,PY,-23.442503,-58.443832,6.78,309.0,35304,111111
PERU,PE,-9.189967,-75.015152,34.05,964.0,203196,111111
PHILIPPINES,PH,12.879721,121.774017,115.56,1274.0,361489,111111
POLAND,PL,51.919438,19.145136,39.86,2484.0,596618,111111
PORTUGAL,PT,39.399872,-8.224454,10.27,246.0,228539,111111
QATAR,QA,25.354826,51.183884,2.70,9363.0,146401,110111
REPUBLIC OF KOREA,KR,35.907757,127.766922,51.82,1992.0,1637896,111111
REPUBLIC OF MOLDOVA,MD,47.411631,28.369885,3.27,30.0,11914,111111
ROMANIA,RO,45.943161,24.966760,19.66,1031.0,248716,111111
RUSSIAN FEDERATION,RU,61.524010,105.318756,144.71,64239.0,1483498,-1-1-1-1-1-1
RWANDA,RW,-1.940278,29.873888,13.78,88.0,10332,11n101
SAINT KITTS AND NEVIS,KN,17.357822,-62.782998,0.05,0.0,927,110101
SAINT LUCIA,LC,13.909444,-60.978893,0.18,1.0,1617,111101
SAINT VINCENT AND THE GRENADINES,VC,12.984305,-61.287228,0.10,0.0,810,110101
SAMOA,WS,-13.759029,-172.104629,0.22,2.0,772,111111
SAN MARINO,SM,43.942360,12.457777,0.03,NaN,1555,111111
SAO TOME AND PRINCIPE,ST,0.186360,6.613081,0.23,1.0,476,11nnn1
SAUDI ARABIA,SA,23.885942,45.079162,36.41,27418.0,700118,110101
SENEGAL,SN,14.497401,-14.452362,17.32,75.0,24412,0101nn
SERBIA,RS,44.016521,21.005859,7.22,426.0,53335,111101
SEYCHELLES,SC,-4.679574,55.491977,0.11,0.0,1059,111111
SIERRA LEONE,SL,8.460555,-11.779889,8.61,56.0,3787,111101
SINGAPORE,SG,1.352083,103.819836,5.98,27.0,339988,110111
SLOVAKIA,SK,48.669026,19.699024,5.64,287.0,105173,111111
SLOVENIA,SI,46.151241,14.995463,2.12,145.0,53590,111111
SOLOMON ISLANDS,SB,-9.645710,160.156194,0.72,3.0,1546,11n111
SOMALIA,SO,5.152149,46.199616,17.60,147.0,1873,1nn111
SOUTH AFRICA,ZA,-30.559482,22.937506,59.89,6712.0,302141,000000
SOUTH SUDAN,SD,7.862685,29.694923,10.91,371.0,15903,010001
SPAIN,ES,40.463667,-3.749220,47.56,1387.0,1281485,111111
SRI LANKA,LK,7.873054,80.771797,21.83,178.0,80677,000000
SUDAN,SD,12.862807,30.217636,46.87,408.0,62057,000000
SURINAME,SR,3.919305,-56.027783,0.62,40.0,4120,110101
SWEDEN,SE,60.128161,18.643501,10.55,1513.0,541064,111111
SWITZERLAND,CH,46.818188,8.227512,8.74,544.0,752248,111111
SYRIAN ARAB REPUBLIC,SY,34.802075,38.996815,22.13,186.0,15572,-1-1-1-1-1-1
TAJIKISTAN,TJ,38.861034,71.276093,9.95,170.0,7997,00-1000
THAILAND,TH,15.870032,100.992541,71.70,3125.0,501795,110001
TIMOR-LESTE,TL,-8.874217,125.727539,1.34,224.0,1902,111101
TOGO,TG,8.619543,0.824782,8.85,114.0,7146,n00010
TONGA,TO,-21.178986,-175.198242,0.11,0.0,491,1111n1
TRINIDAD AND TOBAGO,TT,10.691803,-61.222503,1.53,1444.0,21393,110101
TUNISIA,TN,33.886917,9.537499,12.36,218.0,39218,110101
TURKMENISTAN,TM,38.969719,59.556278,6.43,3399.0,42845,nnnnnn
TUVALU,TV,-7.109535,177.649330,0.01,0.0,55,111111
TÜRKIYE,TR,38.963745,35.243322,85.34,1891.0,720098,111111
UGANDA,UG,1.373333,32.290275,47.25,889.0,38702,000000
UKRAINE,UA,48.379433,31.165580,39.70,2503.0,155582,111111
UNITED ARAB EMIRATES,AE,23.424076,53.847818,9.44,9723.0,358869,110101
UNITED KINGDOM,GB,55.378051,-3.435973,67.51,5087.0,2764198,111111
UNITED REPUBLIC OF TANZANIA,TZ,-6.369028,34.888822,65.50,834.0,64740,0000nn
UNITED STATES,US,37.090240,-95.712891,338.29,96539.0,20893746,111111
URUGUAY,UY,-32.522779,-55.765835,3.42,142.0,53629,111111
UZBEKISTAN,UZ,41.377491,64.585262,34.63,2286.0,57707,n0-1000
VANUATU,VU,-15.376706,166.959158,0.33,1.0,855,110111
VENEZUELA (BOLIVARIAN REPUBLIC OF),VE,6.423750,-66.589730,28.30,3238.0,106359,nnnnnn
VIET NAM,VN,14.058324,108.277199,98.19,2776.0,271158,00-1000
YEMEN,YE,15.552727,48.516388,33.70,113.0,27958,110101
ZAMBIA,ZM,-13.133897,27.849332,20.02,391.0,18111,11n111
ZIMBABWE,ZW,-19.015438,29.154857,16.32,415.0,21787,00-10-10

## 2. Сбор данных для узлов

### 2.1 Population and migration
#### 2.1.1 Population, surface area and density

In [6]:
syb66__T02_table = pd.read_csv('reports/syb66__T02.csv', encoding='ISO-8859-1')
syb66__T02_table

,T02,"Population, density and surface area",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),"6,985.60",NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,"3,514.41",NaN,"United Nations Population Division, New York, ..."
3,1,"Total, all countries or areas",2010,Population mid-year estimates for females (mil...,"3,471.20",NaN,"United Nations Population Division, New York, ..."
4,1,"Total, all countries or areas",2010,Sex ratio (males per 100 females),101.2,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
7648,722,SIDS,2022,Population mid-year estimates for females (mil...,36.92,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7649,722,SIDS,2022,Sex ratio (males per 100 females),101.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7650,722,SIDS,2022,Population aged 0 to 14 years old (percentage),25.0,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7651,722,SIDS,2022,Population aged 60+ years old (percentage),13.3,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7652,722,SIDS,2022,Population density,62.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."

In [12]:
population_table = syb66__T02_table[
    (syb66__T02_table['Unnamed: 2'] == '2023') 
    &
    (
        (syb66__T02_table['Unnamed: 3'] == 'Population mid-year estimates (millions)')
    )  
][31:].drop(
    ['T02', 'Unnamed: 2', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 3'], axis = 1
).rename(
    columns={
        'Population, density and surface area': 'Country', 
        'Unnamed: 4': 'Population mid-year estimates (millions), 2022'
    }
)

#population_table.set_index(
#    'Country', inplace = True
#)

population_table

Empty DataFrame
Columns: [Country, Population mid-year estimates (millions), 2022]
Index: []

In [35]:
# универсальная функция для фильтрации таблиц
def changing_names_of_index(table_index, right_index, table):
     table.rename(
        index={table_index: right_index}, 
        inplace = True
     )

#### Нет новых данных для популяции. Данные за 2022 год, как и в старой таблице -- оставляем старые данные

### 2.2 Energy

#### 2.2.1 Production, trade and supply of energy

In [13]:
syb66__T23_table = pd.read_csv('reports/syb66__T23.csv', encoding='ISO-8859-1')
syb66__T23_table

,T23,"Production, trade and supply of energy",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",1995,Primary energy production (petajoules),"381,763",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2000,Primary energy production (petajoules),"412,132",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2005,Primary energy production (petajoules),"477,281",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2010,Primary energy production (petajoules),"530,045",NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
8580,716,Zimbabwe,2010,Supply per capita (gigajoules),31,NaN,"United Nations Statistics Division, New York, ..."
8581,716,Zimbabwe,2015,Supply per capita (gigajoules),32,NaN,"United Nations Statistics Division, New York, ..."
8582,716,Zimbabwe,2018,Supply per capita (gigajoules),31,NaN,"United Nations Statistics Division, New York, ..."
8583,716,Zimbabwe,2019,Supply per capita (gigajoules),30,NaN,"United Nations Statistics Division, New York, ..."
8584,716,Zimbabwe,2020,Supply per capita (gigajoules),28,NaN,"United Nations Statistics Division, New York, ..."

In [14]:
energy_table = syb66__T23_table[
    (syb66__T23_table['Unnamed: 2'] == '2020') 
    #& 
    #(syb65__T23_table['Production, trade and supply of energy'] == 'Zimbabwe')
    &
    (
        (syb66__T23_table['Unnamed: 3'] == 'Primary energy production (petajoules)')
    )    
][7:].drop(
    ['T23', 'Unnamed: 2', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 3'], axis = 1
).rename(
    columns={
        'Production, trade and supply of energy': 'Country', 
        'Unnamed: 4': 'Primary energy production (petajoules), 2020'
    }
)

energy_table

                        Country Primary energy production (petajoules), 2020
288                 Afghanistan                                           71
328                     Albania                                           63
367                     Algeria                                        5,506
403              American Samoa                                            0
435                     Andorra                                            1
...                         ...                                          ...
8406                   Viet Nam                                        2,509
8446  Wallis and Futuna Islands                                            0
8478                      Yemen                                          164
8513                     Zambia                                          405
8553                   Zimbabwe                                          377

[222 rows x 2 columns]

In [23]:
# Поднимаем регистр в названии стран
energy_table['Country'] = [x.upper() for x in energy_table['Country']]

In [24]:
energy_table.set_index(
    'Country', inplace = True
)
energy_table

                          Primary energy production (petajoules), 2020
Country
AFGHANISTAN                                                         71
ALBANIA                                                             63
ALGERIA                                                          5,506
AMERICAN SAMOA                                                       0
ANDORRA                                                              1
...                                                                ...
VIET NAM                                                         2,509
WALLIS AND FUTUNA ISLANDS                                            0
YEMEN                                                              164
ZAMBIA                                                             405
ZIMBABWE                                                           377

[222 rows x 1 columns]

In [25]:
# проверка на целостность данных
energy_table[energy_table['Primary energy production (petajoules), 2020'].isna()]

Empty DataFrame
Columns: [Primary energy production (petajoules), 2020]
Index: []

In [38]:
#country_attr_table[10:200]

In [41]:
# приведение название стран к общим
changing_attr_arr = [
    ['BOLIVIA (PLURIN. STATE OF)', 'BOLIVIA (PLURINATIONAL STATE OF)'],
    ['CÔTE DIVOIRE',"CÔTE D'IVOIRE"],
    ["DEM. PEOPLE'S REP. KOREA", "DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA"],
    ["DEM. REP. OF THE CONGO", 'DEMOCRATIC REPUBLIC OF THE CONGO'],
    ["LAO PEOPLE'S DEM. REP.", "LAO PEOPLE'S DEMOCRATIC REPUBLIC"],
    ['MICRONESIA (FED. STATES OF)', 'MICRONESIA (FEDERATED STATES OF)'],
    ['SAINT VINCENT & GRENADINES', 'SAINT VINCENT AND THE GRENADINES'],
    ['TURKIYE', 'TÜRKIYE'],
    ['UNITED REP. OF TANZANIA', 'UNITED REPUBLIC OF TANZANIA'],
    ['UNITED STATES OF AMERICA', 'UNITED STATES'],
    ['VENEZUELA (BOLIV. REP. OF)', 'VENEZUELA (BOLIVARIAN REPUBLIC OF)'],
    ['NETHERLANDS (KINGDOM OF THE)', 'NETHERLANDS']
]

for item in changing_attr_arr:
    changing_names_of_index(item[0], item[1], energy_table)
    
#population_table.loc[[changing_attr_arr[-1][1]], list(population_table.columns)]

In [42]:
# присоединяем колонку к основной таблице
country_attr_table_temp = pd.merge(
    country_attr_table, 
    energy_table, 
    how='outer', 
    left_index=True, 
    right_index=True
)#.dropna(
    #subset=['latitude']
#)#.to_csv(
    #'country_attr_table.csv'
#) 
country_attr_table_temp

,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile,"Primary energy production (petajoules), 2020"
Country,,,,,,,,
AFGHANISTAN,AF,33.939110,67.709953,41.13,82.0,19793.0,11n111,71
ALBANIA,AL,41.153332,20.168331,2.84,71.0,14910.0,111111,63
ALGERIA,DZ,28.033886,1.659626,44.90,5954.0,147689.0,00-1000,"5,506"
AMERICAN SAMOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
ANDORRA,AD,42.546245,1.601554,0.08,1.0,2864.0,111111,1
...,...,...,...,...,...,...,...,...
VIET NAM,VN,14.058324,108.277199,98.19,2776.0,271158.0,00-1000,"2,509"
WALLIS AND FUTUNA ISLANDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
YEMEN,YE,15.552727,48.516388,33.70,113.0,27958.0,110101,164
ZAMBIA,ZM,-13.133897,27.849332,20.02,391.0,18111.0,11n111,405
ZIMBABWE,ZW,-19.015438,29.154857,16.32,415.0,21787.0,00-10-10,377

In [69]:
# проверка на соответствие стран
country_attr_table_temp[
    country_attr_table_temp['Country index'].notna()
    &
    country_attr_table_temp['Primary energy production (petajoules), 2020'].isna()
]

,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile,"Primary energy production (petajoules), 2020"
Country,,,,,,,,
MONACO,MC,43.750298,7.412841,0.04,NaN,6816.0,111111,NaN
SAN MARINO,SM,43.942360,12.457777,0.03,NaN,1555.0,111111,NaN

In [61]:
#country_attr_table.loc[['MONACO', 'SAN MARINO']]

In [72]:
#energy_table[100:200]

In [68]:
# проверка на целостность
len(country_attr_table_temp[
    country_attr_table_temp['Country index'].notna()
])

193

In [78]:
country_attr_table = country_attr_table_temp[
    country_attr_table_temp['Country index'].notna()
].copy()

pd.set_option('display.max_rows', 6)
country_attr_table

,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile,"Primary energy production (petajoules), 2020"
Country,,,,,,,,
AFGHANISTAN,AF,33.939110,67.709953,41.13,82.0,19793.0,11n111,71
ALBANIA,AL,41.153332,20.168331,2.84,71.0,14910.0,111111,63
ALGERIA,DZ,28.033886,1.659626,44.90,5954.0,147689.0,00-1000,"5,506"
...,...,...,...,...,...,...,...,...
YEMEN,YE,15.552727,48.516388,33.70,113.0,27958.0,110101,164
ZAMBIA,ZM,-13.133897,27.849332,20.02,391.0,18111.0,11n111,405
ZIMBABWE,ZW,-19.015438,29.154857,16.32,415.0,21787.0,00-10-10,377

### 2.3 Валовой внутренний продукт и валовой внутренний продукт на душу населения
#### Gross domestic product and gross domestic product per capita

In [102]:
syb66__T13_table = pd.read_csv('reports/syb66__T13.csv', encoding='ISO-8859-1')
syb66__T13_table

,T13,Gross domestic product and gross domestic product per capita,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",1995,GDP in current prices (millions of US dollars),"31,269,041",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2005,GDP in current prices (millions of US dollars),"47,775,404",NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
6773,716,Zimbabwe,2019,GDP real rates of growth (percent),-6.1,NaN,"United Nations Statistics Division, New York, ..."
6774,716,Zimbabwe,2020,GDP real rates of growth (percent),-5.3,NaN,"United Nations Statistics Division, New York, ..."
6775,716,Zimbabwe,2021,GDP real rates of growth (percent),6.3,NaN,"United Nations Statistics Division, New York, ..."

In [117]:
GDP_table = syb66__T13_table[
    (syb66__T13_table['Unnamed: 2'] == '2021') 
    #& 
    #(syb65__T23_table['Production, trade and supply of energy'] == 'Zimbabwe')
    &
    (
        (syb66__T13_table['Unnamed: 3'] == 'GDP in current prices (millions of US dollars)')
    )    
][30:].drop(
    ['T13', 'Unnamed: 2', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 3'], axis = 1
).rename(
    columns={
        'Gross domestic product and gross domestic product per capita': 'Country', 
        'Unnamed: 4': 'GDP in current prices (millions of US dollars), 2021'
    }
)

GDP_table

          Country GDP in current prices (millions of US dollars), 2021
847   Afghanistan                                             14,939
875       Albania                                             18,260
903       Algeria                                            163,473
...           ...                                                ...
6698       Zambia                                             21,313
6726     Zanzibar                                              2,080
6754     Zimbabwe                                             24,118

[212 rows x 2 columns]

In [118]:
GDP_table['Country'] = [x.upper() for x in GDP_table['Country']]

In [119]:
GDP_table.set_index(
    'Country', inplace = True
)
GDP_table

            GDP in current prices (millions of US dollars), 2021
Country
AFGHANISTAN                                             14,939
ALBANIA                                                 18,260
ALGERIA                                                163,473
...                                                        ...
ZAMBIA                                                  21,313
ZANZIBAR                                                 2,080
ZIMBABWE                                                24,118

[212 rows x 1 columns]

In [120]:
# приведение название стран к общим
changing_attr_arr = [
    ['BOLIVIA (PLURIN. STATE OF)', 'BOLIVIA (PLURINATIONAL STATE OF)'],
    ['CÔTE DIVOIRE',"CÔTE D'IVOIRE"],
    ["DEM. PEOPLE'S REP. KOREA", "DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA"],
    ["DEM. REP. OF THE CONGO", 'DEMOCRATIC REPUBLIC OF THE CONGO'],
    ["LAO PEOPLE'S DEM. REP.", "LAO PEOPLE'S DEMOCRATIC REPUBLIC"],
    ['MICRONESIA (FED. STATES OF)', 'MICRONESIA (FEDERATED STATES OF)'],
    ['SAINT VINCENT & GRENADINES', 'SAINT VINCENT AND THE GRENADINES'],
    ['TURKIYE', 'TÜRKIYE'],
    ['UNITED REP. OF TANZANIA', 'UNITED REPUBLIC OF TANZANIA'],
    ['UNITED STATES OF AMERICA', 'UNITED STATES'],
    ['VENEZUELA (BOLIV. REP. OF)', 'VENEZUELA (BOLIVARIAN REPUBLIC OF)'],
    ['NETHERLANDS (KINGDOM OF THE)', 'NETHERLANDS']
]

for item in changing_attr_arr:
    changing_names_of_index(item[0], item[1], GDP_table)

In [121]:
GDP_table

            GDP in current prices (millions of US dollars), 2021
Country
AFGHANISTAN                                             14,939
ALBANIA                                                 18,260
ALGERIA                                                163,473
...                                                        ...
ZAMBIA                                                  21,313
ZANZIBAR                                                 2,080
ZIMBABWE                                                24,118

[212 rows x 1 columns]

In [113]:
# присоединяем колонку к основной таблице
country_attr_table_temp = pd.merge(
    country_attr_table, 
    GDP_table, 
    how='outer', 
    left_index=True, 
    right_index=True
)#.dropna(
    #subset=['latitude']
#)#.to_csv(
    #'country_attr_table.csv'
#) 
country_attr_table_temp

,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile,"Primary energy production (petajoules), 2020","GDP in current prices (millions of US dollars), 2021"
Country,,,,,,,,,
AFGHANISTAN,AF,33.939110,67.709953,41.13,82.0,19793.0,11n111,71,"14,939"
ALBANIA,AL,41.153332,20.168331,2.84,71.0,14910.0,111111,63,"18,260"
ALGERIA,DZ,28.033886,1.659626,44.90,5954.0,147689.0,00-1000,"5,506","163,473"
...,...,...,...,...,...,...,...,...,...
ZAMBIA,ZM,-13.133897,27.849332,20.02,391.0,18111.0,11n111,405,"21,313"
ZANZIBAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,080"
ZIMBABWE,ZW,-19.015438,29.154857,16.32,415.0,21787.0,00-10-10,377,"24,118"

In [123]:
# проверка на соответствие стран
country_attr_table_temp[
    country_attr_table_temp['Country index'].notna()
    &
    country_attr_table_temp['GDP in current prices (millions of US dollars), 2021'].isna()
]

Empty DataFrame
Columns: [Country index, latitude, longitude, Population mid-year estimates (millions), 2022, Primary energy production (petajoules), 2019, GDP in current prices (millions of US dollars), 2020, Votes profile, Primary energy production (petajoules), 2020, GDP in current prices (millions of US dollars), 2021]
Index: []

In [124]:
# проверка на целостность
len(country_attr_table_temp[
    country_attr_table_temp['Country index'].notna()
])

193

In [125]:
country_attr_table = country_attr_table_temp[
    country_attr_table_temp['Country index'].notna()
].copy()

pd.set_option('display.max_rows', 6)
country_attr_table

,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile,"Primary energy production (petajoules), 2020","GDP in current prices (millions of US dollars), 2021"
Country,,,,,,,,,
AFGHANISTAN,AF,33.939110,67.709953,41.13,82.0,19793.0,11n111,71,"14,939"
ALBANIA,AL,41.153332,20.168331,2.84,71.0,14910.0,111111,63,"18,260"
ALGERIA,DZ,28.033886,1.659626,44.90,5954.0,147689.0,00-1000,"5,506","163,473"
...,...,...,...,...,...,...,...,...,...
YEMEN,YE,15.552727,48.516388,33.70,113.0,27958.0,110101,164,"9,947"
ZAMBIA,ZM,-13.133897,27.849332,20.02,391.0,18111.0,11n111,405,"21,313"
ZIMBABWE,ZW,-19.015438,29.154857,16.32,415.0,21787.0,00-10-10,377,"24,118"

In [128]:
type(country_attr_table['GDP in current prices (millions of US dollars), 2021'][1])

str

In [615]:
#country_attr_table_3[column_name][112]
#not(isinstance(country_attr_table_3[column_name][112], float))

In [590]:
#country_attr_table_3[isinstance(country_attr_table_3[column_name], float)]

In [130]:
# привеодим знначение GPT к float
column_name = 'GDP in current prices (millions of US dollars), 2021'

#country_attr_table_3[column_name] = str(country_attr_table_3[column_name]) 

#change_type_val(column_name)
country_attr_table[
        column_name
    ] = [
        #x.replace(',', '') for x in country_attr_table_3[column_name] if not(isinstance(x, float))
        x if isinstance(x, float) else x.replace(',', '') for x in country_attr_table[column_name] 
    ]
    
# Преобразовать столбец к типу данных numpy.float64
country_attr_table[column_name] = country_attr_table[column_name].astype(np.float64)
#country_attr_table[column_name] = pd.to_numeric(country_attr_table[column_name])

In [136]:
type(country_attr_table[column_name][2])

numpy.float64

In [137]:
country_attr_table

,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile,"Primary energy production (petajoules), 2020","GDP in current prices (millions of US dollars), 2021"
Country,,,,,,,,,
AFGHANISTAN,AF,33.939110,67.709953,41.13,82.0,19793.0,11n111,71,14939.0
ALBANIA,AL,41.153332,20.168331,2.84,71.0,14910.0,111111,63,18260.0
ALGERIA,DZ,28.033886,1.659626,44.90,5954.0,147689.0,00-1000,"5,506",163473.0
...,...,...,...,...,...,...,...,...,...
YEMEN,YE,15.552727,48.516388,33.70,113.0,27958.0,110101,164,9947.0
ZAMBIA,ZM,-13.133897,27.849332,20.02,391.0,18111.0,11n111,405,21313.0
ZIMBABWE,ZW,-19.015438,29.154857,16.32,415.0,21787.0,00-10-10,377,24118.0

In [3]:
country_attr_table.to_csv('country_attr_table_2024.csv')

In [4]:
#pd.set_option('display.max_rows', 200)
country_attr_table = pd.read_csv('country_attr_table_2024.csv')
country_attr_table

,Country,Country index,latitude,longitude,"Population mid-year estimates (millions), 2022","Primary energy production (petajoules), 2019","GDP in current prices (millions of US dollars), 2020",Votes profile,"Primary energy production (petajoules), 2020","GDP in current prices (millions of US dollars), 2021"
0,AFGHANISTAN,AF,33.939110,67.709953,41.13,82.0,19793.0,11n111,71,14939.0
1,ALBANIA,AL,41.153332,20.168331,2.84,71.0,14910.0,111111,63,18260.0
2,ALGERIA,DZ,28.033886,1.659626,44.90,5954.0,147689.0,00-1000,"5,506",163473.0
3,ANDORRA,AD,42.546245,1.601554,0.08,1.0,2864.0,111111,1,3325.0
4,ANGOLA,AO,-11.202692,17.873887,35.59,3639.0,62307.0,000100,"3,253",70533.0
...,...,...,...,...,...,...,...,...,...,...
188,VENEZUELA (BOLIVARIAN REPUBLIC OF),VE,6.423750,-66.589730,28.30,3238.0,106359.0,nnnnnn,"2,070",111813.0
189,VIET NAM,VN,14.058324,108.277199,98.19,2776.0,271158.0,00-1000,"2,509",366138.0
190,YEMEN,YE,15.552727,48.516388,33.70,113.0,27958.0,110101,164,9947.0
191,ZAMBIA,ZM,-13.133897,27.849332,20.02,391.0,18111.0,11n111,405,21313.0
192,ZIMBABWE,ZW,-19.015438,29.154857,16.32,415.0,21787.0,00-10-10,377,24118.0

# Добавление параметров узлов в сеть

In [27]:
#df[1][1]
#G = nx.read_gexf('UN_UKRAINE--POLITICAL_CONDITIONS_.gexf')

#list(G.nodes(data=True))[0]

('AFGHANISTAN', {'label': 'AFGHANISTAN'})

In [24]:
nodes_array_un = []

for index in range (0, len(country_attr_table)):
    nodes_array_un.append(
        (
            country_attr_table['Country'][index], 
         {
             #'latitude': country_attr_table['latitude'][index],
             #'longitude': country_attr_table['longitude'][index],
             #'Population': country_attr_table['Population mid-year estimates (millions), 2022'][index],
             'Energy': country_attr_table['Primary energy production (petajoules), 2020'][index],
             'GDP': country_attr_table['GDP in current prices (millions of US dollars), 2021'][index],
             #'CI': country_attr_table['Country index'][index],
         }
        ) 
    )

In [28]:
G_3 = nx.Graph()
G_3.add_nodes_from(nodes_array_un)

In [37]:
#G2 = nx.read_gexf('UN_UKRAINE--POLITICAL_CONDITIONS_attr_2023.gexf')
G2 = nx.read_gexf('UN_UKRAINE--POLITICAL_CONDITIONS_attr_25_03_23.gexf')

In [38]:
len(G2)

193

In [39]:
list(G2.nodes(data=True))[0]

('AFGHANISTAN',
 {'votes_profile': '11n111',
  'latitude': 33.93911,
  'longitude': 67.709953,
  'Population': 41.13,
  'Energy': 82.0,
  'GDP': 19793,
  'CI': 'AF',
  'sol_group': 'none',
  'label': 'AFGHANISTAN'})

In [40]:
R = nx.compose(G2, G_3)

In [42]:
list(R.nodes(data=True))[2]

('ALGERIA',
 {'votes_profile': '00-1000',
  'latitude': 28.033886,
  'longitude': 1.6596259999999998,
  'Population': 44.9,
  'Energy': '5,506',
  'GDP': 163473.0,
  'CI': 'DZ',
  'sol_group': '00-1000',
  'label': 'ALGERIA'})

In [43]:
nx.write_gexf(R, 'UN_UKRAINE--POLITICAL_CONDITIONS_attr_11_04_2024.gexf')

In [44]:
len(R)

193